<p id="notice"><%= notice %></p>

<p>
  <strong>Semster:</strong>
  <%= @section.semster %>
</p>

<p>
  <strong>Section:</strong>
  <%= @section.section %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @section.room_number %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
